/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
.env
.env.example
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bootstrap/cache/config.php
ctech.zip
server.php
config/upload.php
bootstrap/*.php
